.question {
  padding: 10px;
}

.correct {
  font-weight: bold;
}

.explanation {
  font-weight: bold;
}

.explanations p {
  margin: 2px;
}

.explanations p br {
  display: none;
}

.toggle-answer {
  cursor: pointer;
  margin: 5px 0;
  text-decoration: underline;
  width: 120px;
}

.answer {
  padding-bottom: 5px;
}
